/* main.css */
/* Styles for the home page */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Centers the page horizontally */
    padding: 0;
    background-color: #ccc;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: center;
}
.logo-container {
    display: inline-block; /* Ensure the container takes only the necessary width */
    margin: 0 auto; /* Center the container horizontally */
}

.logo-container img {
    width: 150px; 
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the image vertically within the container */
}
nav {
    margin-top: 10px; /* Add some space between header and nav */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    display: flex;
    padding: 20px;
}

section article {
    flex: 3;
}

section aside {
    
    flex-basis: 200px;
    background-color: #eaeaea;
    padding: 20px;
}
/* Profile photo and description */
.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Style for the table */
.table {
    margin-bottom: 20px;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc; /* Add border to the table */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the table */
}

.table th, .table td {
    padding: 12px; /* Increase padding for better spacing */
    border: 1px solid #ccc; /* Add border to table cells */
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

/* Style for specific table cells */
.table td[rowspan], .table td[colspan] {
    background-color: #e6f7ff; /* Change background color for cells with rowspan/colspan */
    font-weight: bold;
    text-align: center;
}

/* Hover effect for table rows */
.table tr:hover {
    background-color: #f5f5f5; /* Change background color on hover */
}

/* Alternate row colors */
.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row color */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}